fastapi
uvicorn[standard]
langchain
langchain-google-genai
langchain-community
langchain-pinecone
langchain-text-splitters
motor
xxhash
pymongo
pinecone
pydantic-settings
python-dotenv
firebase-admin
requests
firebase-admin

