fastapi
uvicorn[standard]
langchain
langgraph
langchain-google-genai
google-generativeai
langchain-community
sentence-transformers
langchain-pinecone
langchain-text-splitters
pymongo==3.12.3
pinecone
pydantic-settings
python-dotenv
xxhash
firebase-admin
